# Dependencies
node_modules/

# Build Output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment Files
.env
.env.local

# TypeScript
*.tsbuildinfo

# Cache
.cache/

# Temporary Files
tmp/
temp/